.content {
  height: 100vh;
  flex: 0.9;
  background-color: #1b262c;
  overflow-y: overlay;
}

.header {
  color: white;
  padding: 45px 0px;
  margin-left: 11%;
  font-family: poppins;
}

@media (max-width: 800px) {
  .header {
    margin-left: 0;
    text-align: center;
  }
}
